@page
@model WebBodega.AgregarClienteModel
@{
    ViewData["Title"] = "AgregarCliente";
}

<h1>Agregar Cliente</h1>

<div class="modal-body-trans">
    @Html.HiddenFor(Model => Model.Cliente.IdCliente)

    <form method="post">
        <div class="row">
            <div class="editor-label col-lg-3">
                @Html.LabelFor(model => model.Cliente.Nombres, new { @class = "label-fenix-parametro" })
            </div>
            <div class="editor-field col-lg-6">
                @Html.TextBoxFor(model => model.Cliente.Nombres, new { @class = "form-control input-sm", @maxlength = "80" })
                <span asp-validation-for="Cliente.Nombres" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="editor-label col-lg-3">
                @Html.LabelFor(model => model.Cliente.Apellidos, new { @class = "label-fenix-parametro" })
            </div>
            <div class="editor-field col-lg-6">
                @Html.TextBoxFor(model => model.Cliente.Apellidos, new { @class = "form-control input-sm", @maxlength = "80" })
                <span asp-validation-for="Cliente.Apellidos" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="editor-label col-lg-3">
                @Html.LabelFor(model => model.Cliente.Cedula, new { @class = "label-fenix-parametro" })
            </div>
            <div class="editor-field col-lg-6">
                @Html.TextBoxFor(model => model.Cliente.Cedula, new { @class = "form-control input-sm", @maxlength = "80" })
                <span asp-validation-for="Cliente.Cedula" class="text-danger"></span>
            </div>
        </div>

        <div class="modal-footer">
            <button id="btnGrabarCliente" value="Grabar" class="btn btn-sm btn-success">
                <i class="glyphicon glyphicon-floppy-disk"></i> Grabar
            </button>
            <a asp-page="/Cliente/Index" class="btn btn-sm btn-danger">Cerrar</a>
        </div>
</form>
</div>