@page
@model WebBodega.IndexServicioModel

<h2>Consulta de Servicios</h2>

<div class="editor-field col-lg-2">
    <ul>
        <li>
            <a asp-page="/ServicioAlojamiento/AgregarServicio">Agregar</a>
        </li>
    </ul>
</div>

<table class="table" id="tblServicio">
    <tr>
        <th>
            @Html.DisplayName("Servicio")
        </th>
        <th>
            @Html.DisplayName("Cliente")
        </th>
        <th>
            @Html.DisplayName("Bodega")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Servicios)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreBodega)
            </td>
            <td>
                
            </td>
        </tr>
    }

</table>