@page
@model WebBodega.EditarCategoriaModel

<h2>Editar Categoria</h2>
<script src="~/js/jquery-3.4.1.js"></script>


<div class="modal-body-trans">
    <form method="post">

    @Html.HiddenFor(model => model.Categoria.IdCategoria)

        <div class="row">
            <div class="editor-label col-lg-3">
                @Html.Label("Nombre")
            </div>
            <div class="editor-field col-lg-6">
                @Html.TextBoxFor(model => model.Categoria.Nombre, new { @class = "form-control input-sm", @maxlength = "80" })
                <span asp-validation-for="Categoria.Nombre" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="editor-label col-lg-3">
                @Html.Label("Descripción")
            </div>
            <div class="editor-field col-lg-6">
                @Html.TextBoxFor(model => model.Categoria.Descripcion, new { @class = "form-control input-sm", @maxlength = "80" })
                <span asp-validation-for="Categoria.Descripcion" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="editor-label col-lg-3">
                @Html.Label("Bodega")
            </div>
            <div class="editor-field col-lg-6">
                @Html.DropDownList("IdBodegas")
                @Html.HiddenFor(model => model.Categoria.IdBodega, new { @class = "form-control input-sm", @maxlength = "80", @id = "IdBodega" })
                <span asp-validation-for="Categoria.IdBodega" class="text-danger"></span>
            </div>
        </div>

        <div class="modal-footer">
            <button id="btnGrabarCategoria" value="Grabar" class="btn btn-sm btn-success">
                <i class="glyphicon glyphicon-floppy-disk"></i> Grabar
            </button>
            <a asp-page="/Categoria/IndexCategoria" class="btn btn-sm btn-danger">Cerrar</a>
        </div>
    </form>
</div>

<script src="~/js/jquery-3.4.1.js"></script>

<script>
    $("#IdBodegas").change(function () {
         debugger
        var idBodega = $('select[id=IdBodegas]').val();
        $("#IdBodega").val(idBodega);
    });
</script>