@page
@model WebBodega.IndexCategoriaModel
@{
    ViewData["Title"] = "IndexCategoria";
}

<h2>Consulta de Categorias</h2>

<div class="editor-field col-lg-2">
    <ul>
        <li>
            <a asp-page="/Categoria/AgregarCategoria">Agregar</a>
        </li>
    </ul>
</div>

@*@using (Html.BeginForm("ConsultarClientePorCedula", "Cliente"))
    {
        <label>Nombre</label>
        <input type="text" name="nombres" />

        <button id="btnConsultar" type="submit">Consutar</button>
    }*@

<table class="table" id="tblCategoria">
    <tr>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Descripcion")
        </th>
        <th>
            @Html.DisplayName("Bodega")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Categorias)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BodegaNombre)
            </td>
            <td>
                <a asp-page="/Categoria/EditarCategoria" asp-route-id="@item.IdCategoria">Editar</a>
                <a asp-page="./IndexCategoria" onclick="return confirm('Eliminar item?');"
                   asp-page-handler="Delete" asp-route-id="@item.IdCategoria">Eliminar</a>
            </td>
        </tr>
    }

</table>