@page
@model WebBodega.EditarBodegaModel

<h1>Editar Bodega</h1>

<div class="modal-body-trans">
    <form method="post">

        @Html.HiddenFor(model => model.Bodega.IdBodega)

        <div class="row">
            <div class="editor-label col-lg-3">
                @Html.Label("Nombre")
            </div>
            <div class="editor-field col-lg-6">
                @Html.TextBoxFor(model => model.Bodega.Nombre, new { @class = "form-control input-sm", @maxlength = "80" })
                <span asp-validation-for="Bodega.Nombre" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="editor-label col-lg-3">
                @Html.Label("Descripción")
            </div>
            <div class="editor-field col-lg-6">
                @Html.TextBoxFor(model => model.Bodega.Descripcion, new { @class = "form-control input-sm", @maxlength = "80" })
                <span asp-validation-for="Bodega.Descripcion" class="text-danger"></span>
            </div>
        </div>

        <div class="modal-footer">
            <button id="btnGrabarBodega" value="Grabar" class="btn btn-sm btn-success">
                <i class="glyphicon glyphicon-floppy-disk"></i> Grabar
            </button>
            <a asp-page="/Bodegas/IndexBodega" class="btn btn-sm btn-danger">Cerrar</a>
        </div>
    </form>
</div>