@page
@model WebBodega.EditarProductoModel

    <script src="~/js/jquery-3.4.1.js"></script>

<h2>Editar Producto</h2>

<div class="modal-body-trans">
    
    <form method="post">
        
        @Html.HiddenFor(model => model.Producto.IdProducto)

        <div class="row">
            <div class="editor-label col-lg-3">
                @Html.Label("Nombre")
            </div>
            <div class="editor-field col-lg-6">
                @Html.TextBoxFor(model => model.Producto.Nombre, new { @class = "form-control input-sm", @maxlength = "80" })
            </div>
        </div>

        <div class="row">
            <div class="editor-label col-lg-3">
                @Html.Label("Descripción")
            </div>
            <div class="editor-field col-lg-6">
                @Html.TextBoxFor(model => model.Producto.Descripcion, new { @class = "form-control input-sm", @maxlength = "80" })
            </div>
        </div>

        <div class="row">
            <div class="editor-label col-lg-3">
                @Html.Label("Fecha Expiración")
            </div>
            <div class="editor-field col-lg-6">
                @Html.EditorFor(model => model.Producto.FechaExpiracion, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="row">
            <div class="editor-label col-lg-3">
                @Html.Label("Categoria")
            </div>
            <div class="editor-field col-lg-6">
                @Html.DropDownList("IdCategorias")
                @Html.HiddenFor(model => model.Producto.IdCategoria, new { @class = "form-control input-sm", @maxlength = "80", @id = "IdCategoria" })
            </div>
        </div>

        <div class="modal-footer">
            <button id="btnGrabarProducto" value="Grabar" class="btn btn-sm btn-success">
                <i class="glyphicon glyphicon-floppy-disk"></i> Grabar
            </button>
            <a asp-page="/Producto/IndexProducto" class="btn btn-sm btn-danger">Cerrar</a>
        </div>
    </form>
</div>

<script>
$("#IdCategorias").change(function () {
         debugger
        var idCategoria = $('select[id=IdCategorias]').val();
        $("#IdCategoria").val(idCategoria);
    });
</script>