@page
@model WebBodega.IndexProductoModel
@{
    ViewData["Title"] = "IndexProducto";
}

<h2>Consulta de Productos</h2>

<div class="editor-field col-lg-2">
    <a asp-page="/Producto/AgregarProducto">Agregar</a>
</div>

<table class="table" id="tblProducto">
    <tr>
        <th>
            @Html.DisplayName("IdProducto")
        </th>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Descripcion")
        </th>
        <th>
            @Html.DisplayName("Categoria")
        </th>
        <th>
            @Html.DisplayName("Fecha Expiración")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Productos)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdProducto)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Descripcion)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NombreCategoria)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.FechaExpiracion)
    </td>
    <td>
        <a asp-page="/Producto/EditarProducto" asp-route-id="@item.IdProducto">Editar</a>
        <a asp-page="./IndexProducto" onclick="return confirm('Eliminar Producto?');"
           asp-page-handler="Delete" asp-route-id="@item.IdProducto">Eliminar</a>
    </td>
</tr>
    }

</table>